{% extends 'base.html.twig' %}

{% block title %}: À Propos{% endblock %}

{% block body %}
<div class="apropos">
    <p>Bonjour à tous, je m'appelle Aurélie Runser, et j'ai développé ce site en juillet 2024 pour apprendre les bases du framework Symfony.</p>
    <p>Pour information, ce site est la 2ème version sur le thème des cryptides. En effet, mon tout premier "site", développé juste avec du HTML et du CSS, lorsque j'étais en 2nd, était déjà sur ce sujet. J'ai eu envie de me replonger dans ce thème, de réaliser une refonte complète du design pour pouvoir présenter fièrement ce sujet qui me passionnait.</p>
    <p>Le design est simple et minimaliste, car n'était pas le sujet principal de ce projet, mais je tenais néanmoins à créer une ambiance mystérieuse, tout en reprenant un minimum l'agencement des informations de mon premier site.</p>
    <br/>
    <p>Crédit :</p>
    <ul>
        <li>Les illustrations des cryptides ont été générées par moi-même, via l'ia <a href="https://svg.io" target="_blank" rel="noopener noreferrer">svg.io</a></li>
        <li>Les images des continents proviennent de <a href="https://svgsilh.com" target="_blank" rel="noopener noreferrer">svgsilh.com</a></li>
        <li>Les images de forêt sont disponibles gratuitement sur <a href="https://www.rawpixel.com" target="_blank" rel="noopener noreferrer">rawpixel.com</a></li>
    </ul>
    <br/>
    <p class="apropos__me">Pour retrouver mes autres projets, visitez mon portfolio : <a href="https://portfolio.aurelierunser.fr" target="_blank" rel="noopener noreferrer">portfolio.aurelierunser.fr</a></p>
</div>
{% endblock %}