{% extends 'base.html.twig' %}

{# {% block title %}{% endblock %} #}

{% block body %}

    <ul class="listeCryptides__liste">
        {% for cry in listeCryptide %}
            <li>
                {% include "components/card.html.twig" %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}