<section class="hero">
    <img class="hero__background" src="/img/deco/foret.svg" alt="image d'une silhouette d'une forêt">

    <div class="hero__content">
        <h1 class="hero__content--title">Cryptides</h1>

        <div class="hero__content--txt">
            <p>Connus de tous à travers mythes et légendes ou grâce à des témoignages...
                <br/>Spectaculaires ou ordinaires, simples ou complexes, ces êtres que certains témoignent avoir aperçus ont toujours fasciné. Les Cryptides ne cesseront de nous rappeler que nous n'aurons surement jamais connaissance de tous les animaux peuplant notre monde.
            </p>

            <p>Défiler pour les (re)découvrir, ou <a href="{{ path('cryptide.hasard') }}">découvrez-en un au hasard.</a></p>
        </div>

    </div>
</section>
